  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6">
       <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <%=image_tag "im1.png"%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Paso 1<i class="material-icons right">more_vert</i></span>
            <p>Crear el Droplet.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Paso 1<i class="material-icons right">close</i></span>
            <p>Crear el Droplet.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l6">
       <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <%=image_tag "im2.png"%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Paso 2<i class="material-icons right">more_vert</i></span>
            <p>Recoger la IP que generó y copiarla para posteriormente configurar Putty.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Paso <i class="material-icons right">close</i></span>
            <p>Recoger la IP que generó y copiarla para posteriormente configurar Putty.</p>
          </div>
        </div>
      </div>

     <div class="col s12 m6 l6">
       <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <%=image_tag "im3.png"%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Paso 3<i class="material-icons right">more_vert</i></span>
            <p>Abrimos Putty y comenzamos a configurarlo con la IP que se generó al crear nuestro Droplet.Llenamos los Campos IP address con la IP generada en digital ocean, Connection type con la opción SSH y marcamos nuestro puerto como el 22 </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Paso <i class="material-icons right">close</i></span>
            <p>Abrimos Putty y comenzamos a configurarlo con la IP que se generó al crear nuestro Droplet.Llenamos los Campos IP address con la IP generada en digital ocean, Connection type con la opción SSH y marcamos nuestro puerto como el 22 </p>
          </div>
        </div>
      </div>


     <div class="col ">
       <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <%=image_tag "im4.png"%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Paso 4<i class="material-icons right">more_vert</i></span>
            <p> </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Paso <i class="material-icons right">close</i></span>
            <p>.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l6">
       <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <%=image_tag "im4.png"%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Paso 4<i class="material-icons right">more_vert</i></span>
            <p> </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Paso <i class="material-icons right">close</i></span>
            <p>.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l6">
       <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <%=image_tag "im4.png"%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Paso 4<i class="material-icons right">more_vert</i></span>
            <p> </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Paso <i class="material-icons right">close</i></span>
            <p>.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container">
      <div class="parallax"><%=image_tag("im2.png")%></div>
    </div>
    <br>
    <br>
    <div class="parallax-container">
      <div class="parallax"><%=image_tag("im2.png")%></div>
    </div>
    <br>
    <br>
    <div class="parallax-container">
      <div class="parallax"><%=image_tag("im2.png")%></div>
    </div>
    <br>
    <br>
    <div class="parallax-container">
      <div class="parallax"><%=image_tag("im2.png")%></div>
    </div>
    <br>
    <br>
    <div class="parallax-container">
      <div class="parallax"><%=image_tag("im2.png")%></div>
    </div>
    <br>
    <br>
    <div class="parallax-container">
      <div class="parallax"><%=image_tag("im2.png")%></div>
    </div>
    <br>
    <br>
    <div class="parallax-container">
      <div class="parallax"><%=image_tag("im2.png")%></div>
    </div>
    <br>
    <br>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Este es un proyecto de uso libre</h5>
          <p class="grey-text text-lighten-4">Para mas informacion consulte los terminos y condici/html/evidencias.htmlneEvidencias</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
